*~
/auto-save-list/
/bak/
/elpa/
/ido.last
/ohai-personal-taste.el
/recentf
/smex-items
/eshell/
/projectile-bookmarks.eld
/.mc-lists.el
/var/
/tramp
/url/
/session.*
/tutorial/
/network-security.data
projectile.cache
/TAGS
/games
/emojis
/abbrev_defs
